html {
    font-family: 'Montserrat', sans-serif;
}


header {
    
    padding: 1rem;
    background-color: #97d544;
    position: sticky;
    top: 0;
    border: 20px #001e37;
}
header h1{
    padding: 1px;
    margin-left: 1rem;

}
header section{
    s
}
body {
    margin:0;
    background-color: #001e36;
}
.conteiner{
    width: 410px;
    margin: 0 auto;
}
section article {
    transition: box-shadow 0.2s ease;
    background-color: #97d544;
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    
}
section article:hover{
    box-shadow: -0.0rem 0.0rem 0.7rem #a9adae;
}
footer{
    background-color: #97d544;
    padding: 1rem;
}

